{include file="public/header" /}
<section class="admin-bjle-middle">
    <form id="bjleForm" method="post">
        <table>
            <tr>
                <td>大</td>
                <td>
                    <input type="text">%
                </td>
                <td>小</td>
                <td>
                    <input type="text">%
                </td>
            </tr>
            <tr>
                <td>庄对子</td>
                <td>
                    <input type="text">%
                </td>
                <td>闲对子</td>
                <td>
                    <input type="text">%
                </td>
            </tr>
            <tr>
                <td>完美对子</td>
                <td>
                    <input type="text">%
                </td>
                <td>任意对子</td>
                <td>
                    <input type="text">%
                </td>
            </tr>
            <tr>
                <td>闲家</td>
                <td>
                    <input type="text">%
                </td>
                <td>庄家</td>
                <td>
                    <input type="text">%
                </td>
            </tr>
            <tr>
                <td>和局</td>
                <td>
                    <input type="text">%
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="10">
                    <button type="button">提交</button>
                </td>
            </tr>
        </table>
    </form>
</section>
{include file="public/footer" /}