<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
  <title>博采</title>
  <link rel=stylesheet href=http://at.alicdn.com/t/font_778445_ugeyoc7qz3.css> <script src=http://res.wx.qq.com/open/js/jweixin-1.0.0.js>
  </script> <link rel=stylesheet href=http://at.alicdn.com/t/font_861507_ldun0dx84l9.css> <link href=__PUBLIC__/six/static/css/app.58d7418654bff2ce80dd8d93f8f3ea4a.css
    rel=stylesheet>
  <link href=__PUBLIC__/six/static/css/app.7242d2c2a37ca36504510648ac510550.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script type=text/javascript src=__PUBLIC__/six/static/js/manifest.3ad1d5771e9b13dbdad2.js> </script> <script type=text/javascript
    src=__PUBLIC__/six/static/js/vendor.46d7cc4bc91ef9881d0e.js> </script> <script type=text/javascript src=__PUBLIC__/six/static/js/app.207d73ff97f00fcdb1e1.js>
    </script> <script type=text/javascript src=__PUBLIC__/six/static/js/manifest.3ad1d5771e9b13dbdad2.js> </script> <script type=text/javascript
    src=__PUBLIC__/six/static/js/vendor.d3c229d24a66ab39506a.js> </script> <script type=text/javascript src=__PUBLIC__/six/static/js/app.fc3b584e9ec99cddc2c3.js>
    </script> </body> </html>