{include file="public/header"/}
<section class="admin-index-middle">
	<ul class="admin-index-middle-nav">
		<a href="{:url('Index/Register/index')}"><li>注册设置</li></a>
		<a href="{:url('Index/System/index')}"><li>网站设置</li></a>
		<a href="{:url('Index/Luntan/index')}"><li>论坛设置</li></a>
		<a href="{:url('Index/SetCoin/index')}"><li>货币设置</li></a>
		<a href="{:url('Index/Online/index')}"><li>在线设置</li></a>
		<a href="{:url('Index/LimitInput/index')}"><li>过滤设置</li></a>
		<a href="{:url('Index/Computer/index')}"><li>IP管理</li></a>
		<a href="{:url('Index/User/index')}"><li>用户管理</li></a>
		<a href="{:url('Index/Games/games')}"><li>游戏管理</li></a>
		<a href="{:url('Index/Rank/index')}"><li>等级规划</li></a>
		<a href="{:url('Index/System/news')}"><li>消息系统</li></a>
		<!-- <a href=""><li>用户赠予</li></a> -->
		<a href="{:url('Index/Security/index')}"><li>后台安全</li></a>
	</ul>
</section>
{include file='public/footer'/}