<!DOCTYPE html>
<html lang="zh-Ch">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7,8,9,10,chrome=1">
<meta http-equiv="refresh" content="300">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="">
<meta name="author" content="">
<title>广东11选5</title>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
	  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<!-- [if lt IE 7]> 
  <script src='http://ie7-js.googlecode.com/svn/version/2.0(beta)/IE7.js' type=”text/javascript”></script> 
  <![endif]-–> -->
<!-- css -->
<link href="__PUBLIC__/luntan/css/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<link href="__PUBLIC__/luntan/css/style.css" rel="stylesheet">
<link href="__PUBLIC__/luntan/color/default.css" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
<form action="{:url('Gd/Gd11x5/gd_res')}" method="post">
<table>
<tr>
<td>期数:</td>
<td>{$games_gdopen.expect}&nbsp;&nbsp;&nbsp;</td>
<td>开奖号码:&nbsp;&nbsp;</td>
<td>{$games_gdopen.opencode}</td>
</tr>
<tr>
<td>距封盘:&nbsp;&nbsp;&nbsp;</td>
<td>{$games_gdopen.closetime}</td>
<td>距开奖:&nbsp;&nbsp;&nbsp;</td>
<td>{$games_gdopen.opentime}</td>
</tr>
</table>
	<input type="submit"  value="提交">
</form>
<a class="btn navbar-custom issue-button" role="button"
					href="{:url('Gd/Gd11x5/gd_history')}" target="_blank">开奖历史</a>
<a class="btn navbar-custom issue-button" role="button"
					href="{:url('Gd/Gd11x5/gd_trend')}" target="_blank">开奖走势</a>

</body>
</html>