<!DOCTYPE html>
<html lang="zh-Ch">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7,8,9,10,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="">
<meta name="author" content="">
<meta http-equiv="refresh" content="300">
<title>广东11选5开奖走势</title>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
	  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<!-- [if lt IE 7]> 
  <script src='http://ie7-js.googlecode.com/svn/version/2.0(beta)/IE7.js' type=”text/javascript”></script> 
  <![endif]-–> -->
<!-- css -->
<link href="__PUBLIC__/luntan/css/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<link href="__PUBLIC__/luntan/css/style.css" rel="stylesheet">
<link href="__PUBLIC__/luntan/color/default.css" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	<form action="{:url('Gd/Gd11x5/gd_trend')}" method="post">
		<div>
			<table class="table table-hover" border=""  style="border-color: #ddd; text-align: center;">
				<thead>
				<tr class="tieba-label">
				<div align="center">
				<a class="btn navbar-custom issue-button" role="button"
					href="{:url('Gd/Gd11x5/gd_trend')}?site=1&issueCount=100&orderBy=desc">万位</a>
					<a class="btn navbar-custom issue-button" role="button"
					href="{:url('Gd/Gd11x5/gd_trend')}?site=2&issueCount=30&orderBy=desc">千位</a>
					<a class="btn navbar-custom issue-button" role="button"
					href="{:url('Gd/Gd11x5/gd_trend')}?site=3&issueCount=30&orderBy=desc">百位</a>
					<a class="btn navbar-custom issue-button" role="button"
					href="{:url('Gd/Gd11x5/gd_trend')}?site=4&issueCount=30&orderBy=desc">十位</a>
					<a class="btn navbar-custom issue-button" role="button"
					href="{:url('Gd/Gd11x5/gd_trend')}?site=5&issueCount=30&orderBy=desc">个位</a>
					显示期数：<input type="radio" name="issueCount" value="30" >30
					<input type="radio" name="issueCount" value="50" >50
					<input type="radio" name="issueCount" value="100" >100
					顺序：<input type="radio" name="orderBy" value="asc" >正序
					<input type="radio" name="orderBy" value="desc" >倒序
<!-- 					<input type="hidden" name="site" value="1" > -->
					<input type="submit"  value="查询" >
					</div>
				</tr>
					<tr class="tieba-label">
						<th width="20%">期数&nbsp;
							<button class="refresh-button" type="button"
								onclick="location.reload()">
								<i class="glyphicon glyphicon-refresh"></i>
							</button>
						</th>
						<th width="7%">1</th>
						<th width="7%">2</th>
						<th width="7%">3</th>
						<th width="7%">4</th>
						<th width="7%">5</th>
						<th width="7%">6</th>
						<th width="7%">7</th>
						<th width="7%">8</th>
						<th width="7%">9</th>
						<th width="7%">10</th>
						<th width="7%">11</th>
					</tr>
				</thead>
				<tbody>
					{volist name="games_gdopen" id="vo" }
					<tr>
						<td>{$vo.expect}</td>
						{switch $vo.opencode }
    					{case 1 }
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num2}</td>
    					<td>{$vo.omit.num3}</td>
    					<td>{$vo.omit.num4}</td>
    					<td>{$vo.omit.num5}</td>
    					<td>{$vo.omit.num6}</td>
    					<td>{$vo.omit.num7}</td>
    					<td>{$vo.omit.num8}</td>
    					<td>{$vo.omit.num9}</td>
    					<td>{$vo.omit.num10}</td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 2}
    					<td>{$vo.omit.num1}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num3}</td>
    					<td>{$vo.omit.num4}</td>
    					<td>{$vo.omit.num5}</td>
    					<td>{$vo.omit.num6}</td>
    					<td>{$vo.omit.num7}</td>
    					<td>{$vo.omit.num8}</td>
    					<td>{$vo.omit.num9}</td>
    					<td>{$vo.omit.num10}</td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 3}
    					<td>{$vo.omit.num1}</td>
    					<td>{$vo.omit.num2}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num4}</td>
    					<td>{$vo.omit.num5}</td>
    					<td>{$vo.omit.num6}</td>
    					<td>{$vo.omit.num7}</td>
    					<td>{$vo.omit.num8}</td>
    					<td>{$vo.omit.num9}</td>
    					<td>{$vo.omit.num10}</td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 4}
    					<td>{$vo.omit.num1}</td>
    					<td>{$vo.omit.num2}</td>
    					<td>{$vo.omit.num3}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num5}</td>
    					<td>{$vo.omit.num6}</td>
    					<td>{$vo.omit.num7}</td>
    					<td>{$vo.omit.num8}</td>
    					<td>{$vo.omit.num9}</td>
    					<td>{$vo.omit.num10}</td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 5}
    					<td>{$vo.omit.num1}</td>
    					<td>{$vo.omit.num2}</td>
    					<td>{$vo.omit.num3}</td>
    					<td>{$vo.omit.num4}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num6}</td>
    					<td>{$vo.omit.num7}</td>
    					<td>{$vo.omit.num8}</td>
    					<td>{$vo.omit.num9}</td>
    					<td>{$vo.omit.num10}</td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 6}
    					<td>{$vo.omit.num1}</td>
    					<td>{$vo.omit.num2}</td>
    					<td>{$vo.omit.num3}</td>
    					<td>{$vo.omit.num4}</td>
    					<td>{$vo.omit.num5}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num7}</td>
    					<td>{$vo.omit.num8}</td>
    					<td>{$vo.omit.num9}</td>
    					<td>{$vo.omit.num10}</td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 7}
    					<td>{$vo.omit.num1}</td>
    					<td>{$vo.omit.num2}</td>
    					<td>{$vo.omit.num3}</td>
    					<td>{$vo.omit.num4}</td>
    					<td>{$vo.omit.num5}</td>
    					<td>{$vo.omit.num6}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num8}</td>
    					<td>{$vo.omit.num9}</td>
    					<td>{$vo.omit.num10}</td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 8}
    					<td>{$vo.omit.num1}</td>
    					<td>{$vo.omit.num2}</td>
    					<td>{$vo.omit.num3}</td>
    					<td>{$vo.omit.num4}</td>
    					<td>{$vo.omit.num5}</td>
    					<td>{$vo.omit.num6}</td>
    					<td>{$vo.omit.num7}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num9}</td>
    					<td>{$vo.omit.num10}</td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 9}
    					<td>{$vo.omit.num1}</td>
    					<td>{$vo.omit.num2}</td>
    					<td>{$vo.omit.num3}</td>
    					<td>{$vo.omit.num4}</td>
    					<td>{$vo.omit.num5}</td>
    					<td>{$vo.omit.num6}</td>
    					<td>{$vo.omit.num7}</td>
    					<td>{$vo.omit.num8}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num10}</td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 10}
    					<td>{$vo.omit.num1}</td>
    					<td>{$vo.omit.num2}</td>
    					<td>{$vo.omit.num3}</td>
    					<td>{$vo.omit.num4}</td>
    					<td>{$vo.omit.num5}</td>
    					<td>{$vo.omit.num6}</td>
    					<td>{$vo.omit.num7}</td>
    					<td>{$vo.omit.num8}</td>
    					<td>{$vo.omit.num9}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					<td>{$vo.omit.num11}</td>
    					{/case}
    					{case 11}
    					<td>{$vo.omit.num1}</td>
    					<td>{$vo.omit.num2}</td>
    					<td>{$vo.omit.num3}</td>
    					<td>{$vo.omit.num4}</td>
    					<td>{$vo.omit.num5}</td>
    					<td>{$vo.omit.num6}</td>
    					<td>{$vo.omit.num7}</td>
    					<td>{$vo.omit.num8}</td>
    					<td>{$vo.omit.num9}</td>
    					<td>{$vo.omit.num10}</td>
    					<td><span class="badge">{$vo.opencode}</span></td>
    					{/case}
						{/switch}
					</tr>
					{/volist}
					<tr>
						<td>出现次数：</td>
						{volist name="result.statistics" id="vs" }
						<td>{$vs.show}</td>
						{/volist}
					</tr>
					<tr>
						<td>平均遗漏：</td>
						{volist name="result.statistics" id="va" }
						<td>{$va.avgOmit}</td>
						{/volist}
					</tr>
					<tr>
						<td>最大遗漏：</td>
						{volist name="result.statistics" id="vm" }
						<td>{$vm.maxOmit}</td>
						{/volist}
					</tr>
					<tr>
						<td>最大连出：</td>
						{volist name="result.statistics" id="vl" }
						<td>{$vl.maxShow}</td>
						{/volist}
					</tr>
				</tbody>
			</table>
		</div>
	</form>

</body>
</html>