<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="菠菜项目组" />
    <meta name="description" content="这是一个关于世界杯的网站">
    <script type="text/javascript" src="__PUBLIC__/Index/js/jquery-3.2.1.min.js"></script>
</head>

<body>
    <section style="width:600px;margin:auto;">
        <div id="CONTENTBOX" style="width: 100%;height: 300px;border: 1px solid #ccc;"></div>
        <textarea name="" id="sendContent" cols="30" rows="5" style="width:100%;"></textarea>
        <div style="text-align: center;width: 100%;">
            <button onclick="send()">发送</button>
            <button onclick="closeSK()">关闭</button>
        </div>
        <form id="IMGFORM" enctype="multipart/form-data">
            <input type="file" id="file" name="img" onchange="sendImg()">
        </form>
    </section>
    <script>
        function sendImg() {
            var file = document.getElementById("file").files[0];
            var rd = new FileReader();
            rd.readAsText(file);
            rd.onload = function (e) {
                console.log(this.result);
                // var text = '{"me":"client1","toUser":"client2","text":"' + this.result + '","type":"img"}';
                console.log(text);
                ws.send(text);
            }
        };
        function send() {
            var text = $("#sendContent").val();
            $("#sendContent").val('');
            $("#CONTENTBOX").append("<p>我：" + text + "</p>");
            text = '{"uid":'+1+',"username":"'+'client1'+'","fid":'+2+',"fname":"'+'client2'+'","msg":"'+text+'","type":"'+'text'+'","rType":1,"fType":1}';
            ws.send(text);
        }
        function closeSK() {
            ws.onclose = function () {
                alert("关闭成功！");
            }
        }
        var ws = new WebSocket('ws://192.168.0.133:2525');
        ws.onopen = function (evt) {
            console.log('connection open ...');
            var text = '{"uid":'+1+',"username":"'+'client1'+'","fid":'+2+',"fname":"'+'client2'+'","msg":"'+'msg'+'","type":"'+'handle'+'","rType":1,"fType":2}';
            ws.send(text);
        }

        ws.onmessage = function (evt) {
            console.log("Recived Message: " + evt.data);
            $("#CONTENTBOX").append("<p style='text-align:right;'>" + evt.data + "</p>");
        }  
    </script>
</body>